/*
    @auther: Anees Hikmat
    @email: aneeshikmat@gmail.com
*/

/* Hidden class most be use for hide element is examwizerd, usally it's exsists by defualt in bootstrap' */
.hidden {
    display: none!important;
}

/* Disabled class used for disable element is examwizerd, usally it's exsists by defualt in bootstrap' */
.disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}